<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tlv8.system.dao.SaOpOrgDao">
	<resultMap id="BaseResultMap" type="com.tlv8.system.pojo.SaOpOrg">
		<id column="sid" property="sid" jdbcType="VARCHAR" />
		<result column="sname" property="sname" jdbcType="VARCHAR" />
		<result column="scode" property="scode" jdbcType="VARCHAR" />
		<result column="slongname" property="slongname" jdbcType="VARCHAR" />
		<result column="sfname" property="sfname" jdbcType="VARCHAR" />
		<result column="sfcode" property="sfcode" jdbcType="VARCHAR" />
		<result column="sfid" property="sfid" jdbcType="VARCHAR" />
		<result column="sorgkindid" property="sorgkindid" jdbcType="VARCHAR" />
		<result column="svalidstate" property="svalidstate" jdbcType="INTEGER" />
		<result column="sparent" property="sparent" jdbcType="VARCHAR" />
		<result column="slevel" property="slevel" jdbcType="INTEGER" />
		<result column="sphone" property="sphone" jdbcType="VARCHAR" />
		<result column="sfax" property="sfax" jdbcType="VARCHAR" />
		<result column="saddress" property="saddress" jdbcType="VARCHAR" />
		<result column="szip" property="szip" jdbcType="VARCHAR" />
		<result column="sdescription" property="sdescription" jdbcType="VARCHAR" />
		<result column="spersonid" property="spersonid" jdbcType="VARCHAR" />
		<result column="snodekind" property="snodekind" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="sshowname" property="sshowname" jdbcType="VARCHAR" />
		<result column="ssequence" property="ssequence" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		sid,sname,scode,slongname,sfname,sfcode,sfid,sorgkindid,svalidstate,sparent,slevel,sphone,sfax,saddress,szip,sdescription,spersonid,snodekind,version,sshowname,ssequence
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 
		<include refid="Base_Column_List" />
		from SA_OpOrg
		where sid = #{sid,jdbcType=VARCHAR}
	</select>
	<insert id="insertData" parameterType="com.tlv8.system.pojo.SaOpOrg">
		insert into  
		 SA_OpOrg(<include refid="Base_Column_List" />) 
			values( #{sid,jdbcType=VARCHAR},
			 #{sname,jdbcType=VARCHAR},
			 #{scode,jdbcType=VARCHAR},
			 #{slongname,jdbcType=VARCHAR},
			 #{sfname,jdbcType=VARCHAR},
			 #{sfcode,jdbcType=VARCHAR},
			 #{sfid,jdbcType=VARCHAR},
			 #{sorgkindid,jdbcType=VARCHAR},
			 #{svalidstate,jdbcType=INTEGER},
			 #{sparent,jdbcType=VARCHAR},
			 #{slevel,jdbcType=INTEGER},
			 #{sphone,jdbcType=VARCHAR},
			 #{sfax,jdbcType=VARCHAR},
			 #{saddress,jdbcType=VARCHAR},
			 #{szip,jdbcType=VARCHAR},
			 #{sdescription,jdbcType=VARCHAR},
			 #{spersonid,jdbcType=VARCHAR},
			 #{snodekind,jdbcType=VARCHAR},
			 #{version,jdbcType=INTEGER},
			 #{sshowname,jdbcType=VARCHAR},
			 #{ssequence,jdbcType=INTEGER}
			 )
	</insert>
	<update id="updateData" parameterType="com.tlv8.system.pojo.SaOpOrg">
		update 
		SA_OpOrg 
			set sname = #{sname,jdbcType=VARCHAR},
			scode = #{scode,jdbcType=VARCHAR},
			slongname = #{slongname,jdbcType=VARCHAR},
			sfname = #{sfname,jdbcType=VARCHAR},
			sfcode = #{sfcode,jdbcType=VARCHAR},
			sfid = #{sfid,jdbcType=VARCHAR},
			sorgkindid = #{sorgkindid,jdbcType=VARCHAR},
			svalidstate = #{svalidstate,jdbcType=INTEGER},
			sparent = #{sparent,jdbcType=VARCHAR},
			slevel = #{slevel,jdbcType=INTEGER},
			sphone = #{sphone,jdbcType=VARCHAR},
			sfax = #{sfax,jdbcType=VARCHAR},
			saddress = #{saddress,jdbcType=VARCHAR},
			szip = #{szip,jdbcType=VARCHAR},
			sdescription = #{sdescription,jdbcType=VARCHAR},
			spersonid = #{spersonid,jdbcType=VARCHAR},
			version = #{version,jdbcType=INTEGER},
			sshowname = #{sshowname,jdbcType=VARCHAR},
			ssequence = #{ssequence,jdbcType=INTEGER}
		where sid = #{sid,jdbcType=VARCHAR}
	</update>
	<delete id="deleteData" parameterType="com.tlv8.system.pojo.SaOpOrg">
		delete from SA_OpOrg where sid = #{sid,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteDataByPrimaryKey" parameterType="java.lang.String">
		delete from SA_OpOrg where sid = #{sid,jdbcType=VARCHAR}
	</delete>
	<update id="logicDeleteDataByPrimaryKey" parameterType="java.lang.String">
		update SA_OpOrg set svalidstate=-1 where sid = #{sid,jdbcType=VARCHAR}
	</update>
	<update id="logicRecoveryByPrimaryKey" parameterType="java.lang.String">
		update SA_OpOrg set svalidstate=1 where sid = #{sid,jdbcType=VARCHAR}
	</update>
</mapper>